<% include partials/header %>

<h1>Campgrounds list</h1>

<a href="/campgrounds/new">Add new campground</a>

<ul>
    <% campgrounds.forEach(function(campground) { %>
        <div>
            <h4><%= campground.name %></h4>
            <img src="<%= campground.image %>" alt="campsite image" width="500">
        </div> 
    <% }); %>
</ul>

<% include partials/footer %>